{% load static %}
<html>
    <head>
        
        <title> Sistema Acadêmico (adicionar) </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1> Adicionar Estudante</h1> 
            <div class = "form-container">
                <form method="post" enctype="multipart/form-data">
                    {% for atrib in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ atrib.label }}</label>
                        {{ atrib }}
                        {% if atrib.help_text %}
                            <small style="color: #64748b;">{{ atrib.help_text }}</small>
                        {% endif %}
                        {% if atrib.errors %}
                            <div class="errorlist">
                                {{ atrib.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                    <button type="submit">
                        Salvar
                    </button>
                    {% csrf_token %}
                </form>
            </div>
    </body>
</html>